*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}
.hero-section{
    margin-top:2rem;
}
body,html{
    font-family:Open Sans,sans-serif;
}
.logo h2{
    margin-left:20%;
    font-size: 2rem;
    margin-top:5%;
}
header{
    margin-top:20px;
}
.nav-bar ul{
    padding:20px; 
    list-style:none;
}
.nav-bar ul li{
    display: inline-block;
    margin-right:15px;
    font-size:105%;
}
.username{
    float:right;
    margin-right:35%;
    color:rgb(14, 109, 182);
    font-weight: 500;
    font-size:80%;
    background-color:rgb(220, 235, 244);
    padding:20px;
    border-radius:10px;
}
.nav-bar ul li a{
    text-decoration:none;
    color:#555;
}
.nav-bar ul li a:hover{
    border-bottom:3px solid rgb(14, 109, 182);
}
.hero-image{
    width:80%;
    top:20%;
    right:10%;
}
.row{
    display:flex;
    justify-content:space-evenly;
}
.hero-image{
    width:25rem;
}
.left{
    width:45%;
}
.left h1{
    font-size: 4rem;
    color:#2f2f2f;
    margin-bottom:2rem;
    font-weight: 400px;
}
.left h1 span{
    color:rgb(40, 149, 192);
}
.left p{
    font-size:1.2rem;
    line-height: 1.6;
    color:#555;
    margin-bottom:3rem;
}
.btn{
    color:#fff;
    background-color:rgb(22, 128, 170);
    padding:1.1rem 2.6rem;
    border-radius:20px;
    text-decoration:none;
    font-weight:300px;
}

.service-overview{
    background-color:rgb(26, 127, 168);
    width:100%;
    overflow:hidden;
}
.services{
    display:flex;
    list-style:none;
    column-gap:1rem;
    justify-content: space-evenly;
    width:100%;
}
.services li:first-child{
    width:100%;
    font-size:2.5rem;
}
.services li{
    width:40% 30% 30% 30%;
    font-weight:350px;
    margin:30px 80px;
}
.services li span{
    font-size:12px;
}
.count{
    font-size:1.5rem;
}
.services li:nth-child(2){
    width:20%;
}
.services li:nth-child(3){
    width:20%;
}
.services li:nth-child(4){
    width:20%;
}

#small-info{
    color:#333131;
    padding-bottom:1rem;
}
.info{
    border-top:1px solid #cccaca;
    color:#2e0ae2;
    font-weight:600;
    font-size:0.8rem;
    padding-bottom:1rem;
    padding-top:2rem;
}
#span{
    content:"";
    display:block;
    width:90%;
    height:2px;
    background-color:rgb(190, 192, 194);
    margin-top:8px;
    margin-bottom:1.5rem;
    margin-left:1rem;
}

.added-items h4{
    font-size:2rem;
    padding:1rem 0;
    text-align:center;
}
.items-list{
    width:100%;
    gap:5%;
    display:flex;
    margin-bottom:1rem;
    border-bottom:1px solid #cccaca;
    padding-bottom:10px;
}
.heading{
    background-color:#ede6e6;
    padding:10px;
    border-radius:5px;
}
.cart-box{
    margin-left:5%;
}
.items-list span:first-child{
    width:10%;
    text-align:left;
}
.items-list span:nth-child(2){
    width:60%;
    text-align:left;
}
.items-list span:last-child{
    width:25%;
}
.items-list span p{
    width:100%;
}
.right-section{
    background-color:#fff;
    padding-bottom:1rem;
    border-radius:10px;
}
.total{
    display:flex;
    justify-content:space-between;
    padding:1rem 2rem;
    font-size:1.2rem;
    font-weight:600;
    margin-top:2rem;
}

.booking-items{
    margin-top:2rem;
    background-color:#fff;
    padding:2rem;
    border-radius:5%;
}
.booking-items h5{
    font-size:1.3rem;
    margin-bottom:1rem;
}
.booking-items form{
    display:flex;
    flex-direction:column;
    gap:1rem;
    margin-bottom:1rem;
}
.booking-items form label{
    font-size:1rem;
    font-weight:500;
}
.mail-phone{
    display:flex;
    gap:1rem;
}
.mail-phone input{
    width:100%;
}
.mail-phone label{
    width:100%;
    display:block;
}
.booking-items input[type="text"],input[type="email"],input[type="number"]{
    border-radius:5px;
    border:1px solid #ccc;
    padding:0.5rem;
    font-size:1rem;
}
#book-now{
    width:100%;
    padding:1rem;
    background-color:rgb(103, 103, 104);
    color:#fff;
    font-size:1.2rem;
    border:none;
    border-radius:15px;
}

.items{
   display:flex;
   align-items:center;
   justify-content:space-between;
   margin-bottom:3rem;
}
.cart-box{
    font-size:0.9rem;
}
.cart-price{
    margin-left:1rem;
}
.booking{
    background-color:rgb(234, 230, 230);
    padding:2rem 5rem;
    width:100%;
}
.no-item{
    text-align:center;
    display:block;
}
#no-add{
    font-size:1.2rem;
    font-weight:500;
    margin:1rem;
}
#subscript{
    color:#555;
    margin-bottom:2rem;
}
#circle{
    font-size:3rem;
    margin-top:2rem;
}
.price{
    color:rgb(40, 12, 199);
    font-weight:500;
}
.add-remove, .added-items{
    background-color:white;
    padding:1rem;
    border-radius:5%;
    margin:2rem,1.5rem;
}
.add-remove h2{
    font-size:2rem;
    padding:1rem 0;
}
.plus{
    background-color:#d6f9d6;
    color:green;
    font-weight:500;
    padding:0.6rem 1.3rem;
    border-radius:5px;
    margin:1rem;
}
#book-now:hover{
    cursor:pointer;
}
.alert-no-item {
   color:red;
   font-weight:500;
   margin-top:1rem;
   font-size:0.9rem;
   display:none;
}
.plus:hover{
    cursor:pointer;
}
.service-box img{
    width:100px;
    height:100px;
    margin-bottom:1rem;
    margin-left:3rem;
}
.Services{
    margin:5rem;
    margin-bottom:1rem;
}
.service-box {
    text-align:center;
    padding:2rem;
}
.service-box h2{
    font-size:1.5rem;
    margin-bottom:1rem;
}
.service-box p{
    font-size:0.9rem;
    color:#555;
    width:95%;
    margin:auto;
    text-align:center;
    line-height:1.2;
}
.sub{
    display:flex;
    flex-direction:column;
    gap:1rem;
    text-align: center;
    align-items:center;
}
.sub-letter{
    background-color:rgb(3, 120, 163);
    width:100%;
    padding:1rem;
    display:flex;
    flex-direction:row;
    gap:1rem;
    margin:2rem;
    padding:2rem;
    justify-content: auto;;
}
.sub-letter h2{
    font-size:3rem;
    color:#fff;
    width:40%;
    line-height:1.2;
    margin-bottom:0.5rem;
    margin-left:5rem;
}
.sub-letter input{
    padding:0.8rem;
    margin:0;
    background-color:rgb(13, 147, 196);
    border:none;
    font-size:1rem;
    font-weight: 100;
    border-radius:5px;
    outline:none;
}
.sub-letter input[type="email"]{
    height:40%;
    width:17%;
}
.sub-letter button{
    padding:0.8rem;
    background-color:#fff;
    border:none;
    border-radius:5px;
    font-weight:600;
    cursor:pointer;
    color:rgb(3, 120, 163);
    width:100%;
    font-size:1rem;
}
.sub-letter input::placeholder {
  color: rgb(255, 255, 255);
}

.footer-content{
    display:flex;
    justify-content:space-evenly;
    padding:2rem 0;
    background-color:rgb(234, 231, 231);
    width:100%;
    margin:0;
}
.logo-part h2{
    font-size: 2rem;
    margin-bottom:2rem;
}
.footer-content h4{
    margin-bottom:1rem;
    font-size:1.2rem;
}

.footer-content p{
    font-size:0.9rem;
    color:#555;
    line-height:1.5;
}
.footer-content ul{
    list-style:none;
}
.footer-content ul li{
    margin-bottom:0.5rem;
}
.footer-content ul li a{
    text-decoration:none;
    color:#555;
}
.social a{
    font-size:1.5rem;
    margin-right:0.5rem;
    color:black;
}
#tshirt{
    color:rgb(243, 87, 52);
    margin-left:0.4rem;
}
#wash{
    color:rgb(73, 17, 73);
}
.iron{
    width:20px;
    height:20px;
}
